.background {
  background-image: url("../../public/images/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  max-height: 100vh;
}

.gradientBack {
  background: rgb(0, 10, 18);
  background: linear-gradient(
    180deg,
    rgba(0, 10, 18, 1) 0%,
    rgba(0, 17, 31, 0.7875525210084033) 9%,
    rgba(0, 17, 31, 0) 100%
  );
}

@media (max-width: 768px) {
  .background {
    background-image: url("../../public/images/background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    max-height: 120vh;
  }
}
